*{
	margin: 0;
	padding: 0;
}

#wrapper{
	width: 100%;
	height: 400px;
	background-color: pink;
}

#wrapper div{
	width: 24%;
	height: 360px;
	background-color: white;
	display: inline-block;
	box-sizing: border-box;
}

#wrapper .block {
	border-width: 5px;
	border-style: groove; /*dotted/dashed/solid/double/groove/ridge/inset/outset*/
	border-color: black;
}

#wrapper div p{
	text-align: center;
}

#wrapper div h3{
	font-size: 50px;
	font-weight: bold;
	color: black;
}